<Html lang="en-us">
<title>Process Instances</title>
<head>
    <style>
        tr:nth-child(even) {
            background-color: #EEEEEE;
        }
    </style>
</head>
<body>
<h1>Process Instances</h1>
<h2>Count: {{len .Data}}</h2>
<table>
    <tr>
        <th>Created</th>
        <th>Process Key</th>
        <th>Process Instance Id</th>
        <th>Version</th>
        <th>Status</th>
    </tr>
    {{range .Data}}
    <tr>
        <th>{{.Created}}</th>
        <th>{{.Key}}</th>
        <th>{{.Id}}</th>
        <th>{{.Version}}</th>
        <th>{{.Status}}</th>
    </tr>
    {{end}}
</table>
</body>
</Html>