<Html lang="en-us">
<title>Tasks</title>
<head>
    <style>
        tr:nth-child(even) {
            background-color: #EEEEEE;
        }
    </style>
    <script>
        function complete(processId, taskId) {

            // Creating a XHR object
            let xhr = new XMLHttpRequest();
            let url = "../tasks/complete";

            // open a connection
            xhr.open("POST", url, true);

            // Set the request header i.e. which type of content you are sending
            xhr.setRequestHeader("Content-Type", "application/json");

            // Create a state change callback
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log("Completed: " + processId + " " + taskId)
                    location.reload()
                } else if (xhr.status != 200) {
                    console.log("Error: ", xhr.responseText)
                }
            };

            // Converting JSON data to string
            var data = JSON.stringify({"tasks": [{"processInstanceId": processId, "taskId": taskId, "data":{"completed":{"completedById":"","completedByUser":""},"comments":""}}]});

            // Sending data with the request
            xhr.send(data);
        }
    </script>
</head>
<body>
<h1>Tasks</h1>
<h2>Count: {{len .Data}}</h2>
<table>
    <tr>
        <th>Created</th>
        <th>Process Key</th>
        <th>Process Instance Id</th>
        <th>Process Version</th>
        <th>Task Key</th>
        <th>Task Id</th>
        <th>Task Status</th>
    </tr>
    {{range .Data}}
    <tr>
        <th></th>
        <th>{{.ProcessInstanceKey}}</th>
        <th>{{.ProcessInstanceId}}</th>
        <th>{{.ProcessInstanceVersion}}</th>
        <th>{{.Key}}</th>
        <th>{{.Id}}</th>
        <th>{{.Status}}</th>
        <th>
            <button onclick="complete({{.ProcessInstanceId}}, {{.Id}})">Complete</button>
        </th>
    </tr>
    {{end}}
</table>
</body>
</Html>